{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Dan Wavle -- Resume</title>
<!--
This is a comment. Comments are not displayed in the browser
&nbsp; ==> 1 unbreakable space character
&ensp; ==> 2 spaces
&emsp; ==> 4 spaces
-->


<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Resume of Dan Wavle."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Dan Wavle" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Dan Wavle</h1>
			<h2 class="quickFade delayThree">Programmer/Web Developer</h2>
<h3 class="quickFade delayFour"><a href="{% url 'cover_letter' %}" target="_blank">Read my cover letter</a></h3>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
		<ul>
                <li>Email:&emsp;&emsp;<a href="mailto:dcwavle@gmail.com" target="_blank">  dcwavle@gmail.com</a></li>
		<li>Phone:&emsp;&ensp;&nbsp;(607) 423-1948</li>
                <li>Address:&emsp;1651 Hedden Park 
                    <br> &emsp;&emsp;&emsp;&emsp;&emsp;New Albany, IN 47150</li>
		<li>Website: &emsp;<a href="https://www.danwavle.com">www.danwavle.com</a></li>
		</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Summary</h1>
				</div>
				
				<div class="sectionContent">
					<p>I have a unique technical background that includes programming, advanced mathematics, data analysis, and scientific research.  I have extensive academic and professional experience with many programming languages, from Fortran IV to Python and its most modern, data-oriented packages.  As an Educator at Floyd Central, I value and encourage communication, collaboration, and professionalism.  I am a versatile individual seeking a career in software, web development, or other contexts where excellent logic skills, programming experience, and analytical and creative problem solving are essential.</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
                    			<li>Object Oriented Programming</li>
					<li>Language Acquisition</li>
                    			<li>Analytical Thinking</li>
					<li>Problem Solving</li>
					<li>Communication</li>
                    			<li>Detail Oriented</li>
					<li>Python</li>
					<li>Java</li>
					<li>HTML</li>
					<li>CSS</li>
					<li>Git</li>
                    			<li>Linux</li>
					<li>MySQL</li>
					<li>Django</li>
					<li>Apache</li>
					
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Computer Science Teacher, Floyd Central High School</h2>
					<p class="subDetails">Floyds Knobs, IN</p>
					<p class="subDetails">Fall 2018 - Present</p>
                    <ul class="bullet">
                        <li>Licensed to teach Physics, Mathematics, and Computer Science in Indiana</li>
                        <li>Spearheaded the Computer Science program in 2022 and expanded class sizes and course offerings</li>
                        <li>Taught Computer Science courses across all grade levels, including CSI--Introductory Computer Science and CSII--AP Computer Science A</li>
                        <li>Facilitated the adoption of and developed course material for CSIII--Software Development</li>
                        <li>Taught in the science department, including AP Physics, Integrated Chemistry and Physics, and Earth Space</li>
                        <li>Taught in the math department, including Analytical Algebra II, Honors Algebra II, and Geometry</li>
                        <li>Led the FC Robotics Club which competed at Vex V5 tournaments from 2021 to 2023</li>
                        <li>Created and led the FC Bouldering Club in 2020</li>
                        <li>Coached the drumline of the FC Highlander Band in 2018</li>
                    </ul>
				</article>
                
				<article>
					<h2>Research Experience for Teachers (RET) Participant, J.B. Speed School of Engineering</h2>
					<p class="subDetails">Louisville, KY</p>
					<p class="subDetails">Summer 2023</p>
					<ul class="bullet">
                        <li>Collaborated with a research team and was lead programmer to develop an online simulation for manufacturing and supply chain decision making</li>
                        <li>Designed and executed code framework to support instructor-led, team-based multiplayer simulation</li>
                        <li>Researched best practices for pedagogically effective simulations in industry and manufacturing</li>
                        <li>Presented research and code results at the 2023 National Science Foundation RET Virtual Poster Session</li>
                    </ul>
				</article>
                <div class="pageBreak"></div>
                <article>
					<h2>Substitute Teacher, Kelly Educational Staffing</h2>
					<p class="subDetails">New Albany, IN</p>
					<p class="subDetails">Winter 2017 - Fall 2017</p>
					<ul class="bullet">
                        <li>Assisted as a permanent substitute teacher for Floyd Central while in graduate school to become a certified teacher</li>
                        <li>Administered classwork and communicated with students and parents for teachers on temporary leave</li>
                    </ul>
				</article>
				
				<article>
					<h2>Teaching Assistant, University of Illinois</h2>
					<p class="subDetails">Urbana, IL</p>
					<p class="subDetails">Fall 2015 - Spring 2016</p>
					<ul class="bullet">
                        <li>Led discussion sections for Astronomy 121 under Professor Emily Hardegree-Ullman</li>
                        <li>Administered and graded assignments and tests and held office hours for students</li>
                    </ul>
				</article>
                
                <article>
					<h2>Research Assistant, National Radio Astronomy Observatory</h2>
					<p class="subDetails">Charlottesville, VA</p>
					<p class="subDetails">Summer 2015</p>
					<ul class="bullet">
                        <li>Collaborated with Dr. Adam Leroy and Dr. Jennifer Donovan Meyer on a research project to analyze low brightness signal in astronomical data</li>
                        <li>Built python code to generalize and improve a stacking technique for data analysis</li>
                        <li>Presented research results at the 225<sup>th</sup> American Astronomical Society (AAS) Meeting in Seattle, WA and 2014 Indiana University Undergraduate Research Conference (IUURC)</li>
                    </ul>
				</article>
                
                <article>
					<h2>Research Assistant, Indiana University</h2>
					<p class="subDetails">Bloomington, IN</p>
					<p class="subDetails">Fall 2011 - Spring 2015</p>
					<ul class="bullet">
                        <li>Collaborated with Dr. Liese van Zee and other team members on a research project to survey dark matter in low mass galaxies</li>
                        <li>Assembled, processed, analyzed, and visualized archival astronomical data</li>
                        <li>Presented research results at the 222<sup>nd</sup> AAS meeting, the 2013 IUURC, and the 2012 Hutton Honors College Research Symposium at Indiana University</li>
                    </ul>
				</article>
                
			</div>
			<div class="clear"></div>
		</section>
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>Indiana University Southeast</h2>
					<p class="subDetails">Summer 2017 - Spring 2018</p>
					<p>Graduate Certificate for the Advance to Teaching program for Indiana Teaching Licensure</p>
				</article>
				
				<article>
					<h2>University of Illinois at Urbana-Champaign</h2>
					<p class="subDetails">Fall 2015 - Spring 2016</p>
					<p>Completed 20 graduate credit hours toward PhD in Astrophysics, including Data Science, Cosmology and Physics</p>
				</article>
                <article>
					<h2>Indiana University Bloomington</h2>
					<p class="subDetails">Fall 2011 - Spring 2015</p>
                    <ul class="list">
                        <li>Bachelor of Science in Astronomy/Astrophysics, awarded May 2015</li>
                        <li>Bachelor of Science in Physics, awarded May 2015</li>
                        <li>Departmental Honors in Astronomy</li>
                        <li>Hutton Honors College Member</li>
                        <li>Cox Research Scholar</li>
                    </ul>
				</article>
            </div>
			<div class="clear"></div>
		</section>
        
		<section>
            <div class="sectionTitle">
                <h1>References</h1>
            </div>
            <div class="sectionContent">
                <article>
                    <h2>Dr. Rob Willman</h2>
                        <ul class="list">
                            <li>Principal </li>
                            <li>Silver Creek High School </li>
                            <!--
                            <li>557 Renz Avenue 
                                <br> Sellersburg, Indiana 47172</li>
                            -->
                            <li>RWillman@scsc.school </li>
                            <li>(812) 987-1705 <br> &emsp; </li>
                            <p>Dr. Willman was Principal at Floyd Central High School for five years while I worked there as a teacher. He hired me in 2018 and was my evaluator multiple times, including in 2023 when I earned the "highly effective" designation for Indiana teachers. </p>
                        </ul>
                </article>
                <article>
                    <h2>Jennifer Gohmann</h2>
                        <ul class="list">
                            <li>Assistant Principal </li>
                            <li>Jeffersonville High School </li>
                            <!--
                            <li>2315 Allison Lane 
                                <br>Jeffersonville, Indiana 47130</li>
                            -->
                            <li>jgohmann@gccschools.com </li>
                            <li>(502) 345-3947 <br> &emsp; </li>
                            <p>Jen was a Chemistry teacher and my colleague at Floyd Central for over five years, and she was my Department Coach in 2022 and 2023 while I worked in the FC Science Department.</p>
                        </ul>
                </article>
                <article>
                    <h2>Dr. Faisal Aqlan</h2>
                        <ul class="list">
                            <li>Associate Professor of Industrial Engineering </li>
                            <li>J.B. Speed School of Engineering, University of Louisville </li>
                            <!--
                            <li>132 Eastern Parkway <br> Louisville, Kentucky 40292 </li>
                            -->
                            <li>faisal.aqlan@louisville.edu </li>
                            <li>(502) 852-1697 <br> &emsp; </li>
                            <p>Dr. Aqlan was my employer and the supervisor for the Research Experience for Teachers (RET) program at the University of Louisville, under which I was the lead programmer for an online simulation research project.</p>
                        </ul>
                </article>
                <article>
                    <h2>Philip Thomas</h2>
                        <ul class="list">
                            <li>Director, Indiana University Southeast Concert Band</li>
                            <li>Indiana University Southeast </li>
                            <!--
                            <li>1006 Oakridge Drive
                                <br>Lanesville, Indiana 47136</li>
                            -->
                            <li>trombapat82@gmail.com</li>
                            <li>(812) 267-3410 <br> &emsp; </li>
                            <p>Phil was my colleague when I worked with the Floyd Central Highlander Band and has been my Band Director since I joined the IU Southeast Concert Band in 2017. He is included here as a reference for my character and lifelong connection to music.</p>
                        </ul>
                </article>
            </div>
            <div class="clear"></div>
        </section>
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
